<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAF0JCcapNR8Es-7vAHZW7AnTwHF9QZvMQ</string>
	<key>GCM_SENDER_ID</key>
	<string>541604735260</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.poplogic.blipinVendor.staging</string>
	<key>PROJECT_ID</key>
	<string>blipin-vendor-stg</string>
	<key>STORAGE_BUCKET</key>
	<string>blipin-vendor-stg.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:541604735260:ios:97fe6dcdffeb1c7387b2d9</string>
</dict>
</plist>